<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<assemblySettings>
		<!--   Benutzeranwendung und konfigurierte Eigenschafteneinstellungen hier einfügen.-->
		<!--   Beispiel: <add key="settingName" value="settingValue"/> -->
		<add key="StartTimeOut" value="50" />
		<add key="Trace" value="False" />
		<add key="HIDBufferSize" value="64" />
		<add key="HIDKernelBuffer" value="64" />
		<add key="WriteTimeOut" value="3000" />
		<add key="ReadTimeOut" value="3000" />
		<add key="gs-ireland_wait" value="0" />
	</assemblySettings>
</configuration>